<nav>
    <header class="header">
        <img src="/images/logo.png" alt="logo" class="logo">
        <nav class="navbar">
            <a href="/home">home</a>
            <a href="/services">Services</a>
            <a href="/about">About</a>
            <a href="/hospitals">Hospitals</a>
            <a href="/docters">Docters</a>
            <a href="/bookslot">Bookslot</a>
            <a href="/login">Login</a>
            <a href="/signin">Signup</a>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </header>
</nav>