
<section class="about" id="about">

    <h1 class="heading">
        <span>about</span> us
    </h1>

    <div class="row">

        <div class="image">
            <img src="/images/about.svg" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nisi voluptatibus. Corporis excepturi, ullam rem veritatis iusto dolorem quia soluta quis harum qui cupiditate asperiores nostrum consequuntur odio quam. Quae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, earum eligendi! Pariatur repellat hic laboriosam. Iste quas dolorem pariatur placeat.</p>
            <a href="#" class="btn">  learn more<span class="fas fa-chevron-right"></span></a>

        </div>
    </div>
</section>