
<section class="book" id="bookslot">

    <h1 class="heading"> <span>book a slot</span> now</h1>

    <div class="row">

        <div class="image">
            <img src="/images/form.svg" alt="">
        </div>

        <form action="">
            <h3>book appointment</h3>
            <input type="text" name="name"  id="name" placeholder="Name" class="box">
            <input type="tel" name="number"  id="number" placeholder="Number" class="box">
            <input type="email" name="email"  id="email" placeholder="Email" class="box">
            <input type="date" id="date" class="box">
            <input type="submit" value="book now" class="btn">
        </form>

    </div>
    
</section>