
<section class="doctors" id="doctors">
    <h1 class="heading">our <span>docters</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/doctor.svg" alt="">
            <h3>Doctor1</h3>
            <span>expert docter</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                
            </div>
        </div>

        <div class="box">
            <img src="/images/doctor.svg" alt="">
            <h3>Doctor2</h3>
            <span>expert docter</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                
            </div>
        </div>

        <div class="box">
            <img src="/images/doctor.svg" alt="">
            <h3>Doctor3</h3>
            <span>expert docter</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                
            </div>
        </div>

        <div class="box">
            <img src="/images/doctor.svg" alt="">
            <h3>Doctor4</h3>
            <span>expert docter</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                
            </div>
        </div>

        <div class="box">
            <img src="/images/doctor.svg" alt="">
            <h3>Doctor5</h3>
            <span>expert docter</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                
            </div>
        </div>

        <div class="box">
            <img src="/images/doctor.svg" alt="">
            <h3>Doctor6</h3>
            <span>expert docter</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                
            </div>
        </div>
    </div>
</section>
