
<section class="home" id="home">
    <div class="image">
        <img src="/images/image.svg" alt="">
    </div>

    <div class="content">
        <h3>Book Your Appointment Online</h3>
        <p>A Healthier Tomorrow Starts Today:Scedule Your Appointment!
            Your Wellness, Our Expertise: Set Up Your Appointment Today.
        </p>
        <!-- <div > -->
            <a href="#" class="btn">Book An Appointment
                <span class="fas fa-chevron-right"></span>
            </a>
        <!-- </div> -->
    </div>
</section>


<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>140+</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>bed facility</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>80</h3>
        <p>available hospital</p>
    </div>
</section>


<section class="review" id="review">

    <h1 class="heading"> patient's <span>review</span></h1>    

    <div class="box-container">

        <div class="box">
            <img src="/images/user.svg" alt="">
            <h3>patient1</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsa esse totam recusandae? Odit doloremque animi error. Sit amet magnam, nemo unde, quaerat dolorum sint, earum explicabo fuga esse facilis dolore ab ullam facere asperiores?
            </p>
        </div>

        <div class="box">
            <img src="/images/user.svg" alt="">
            <h3>patient2</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsa esse totam recusandae? Odit doloremque animi error. Sit amet magnam, nemo unde, quaerat dolorum sint, earum explicabo fuga esse facilis dolore ab ullam facere asperiores?
            </p>
        </div>

        <div class="box">
            <img src="/images/user.svg" alt="">
            <h3>patient3</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsa esse totam recusandae? Odit doloremque animi error. Sit amet magnam, nemo unde, quaerat dolorum sint, earum explicabo fuga esse facilis dolore ab ullam facere asperiores?
            </p>
        </div>
    </div>
</section>
