 <div class="outer-Form">
        {{!-- <img src="log.gif" alt=""> --}}
        <div class="demoimg"></div>
        <div class="form login">
                <h1 class="heading"> Log
                        <span>In</span>
                </h1>
                <form>
                        <input type="text" name="email" id="email" placeholder="Enter your email" class="input-box">
                        <input type="password" name="pwd" id="password" placeholder="Enter Your Password" class="input-box">
                                <a href="#" class="btn logbtn">  Login<span class="fas fa-chevron-right"></span></a>
                </form>
                <div class="dis">
                        Create a new account <a href="#" class="btn logbtn">  SignIn<span class="fas fa-chevron-right"></span></a>
                </div>
        </div>
                
</div>